* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFF7ED;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter.ttf');
}

.container {
  display: grid;
  grid-template-areas:"nav nav nav nav"
                      "img img img img"
                      "main main main main"
                      "footer footer footer footer";
  grid-template-rows: 0.5fr 0.1fr 1fr 0.5fr;
  grid-template-columns: repeat(4, 3fr);

}

.container>* {
  border: 1px solid black;
}

.container>nav {
  grid-area: nav;
}

.container>img {
  grid-area: img;
}

.container>main {
  grid-area: main;
}

.container>footer {
  grid-area: footer;
}

nav {
  background-color: #FFF7ED;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-items: space-around;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  object-fit: scale-down;
}

img.VanLife {
  width: 100%;
  object-fit: fill;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:'. h1 h1 .'
                      '. p p .'
                      '. div div .';
  justify-content: center;
  padding: 50px;
}

main h1 {
  grid-area: h1;
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

main p {
  grid-area: p;
  font-family: Inter;
  color: black;
  font-weight: 500;
  line-height: 22px;
  place-items: center;
}

main div {
  grid-area: div;
  background-color: #FFCC8D;
  border-radius: 10px;
  padding: 50px;
}

main div h2 {
  font-family: Inter;
  font-weight: 700px;
}

main div a {
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
  font-family: Inter;
  padding: 20px 40px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #252525;
  font-size: 14px;
  line-height: 22.92px;
  color: #AAAAAA;
  font-family: Inter;
}